/* Font size */
$para-font-size: 1.25rem;
$para-font-size-mobile: 1.05rem;

$section-title-desktop: 2.25rem;
$section-title-mobile: 2rem;

$card-title-mobile: 1.5rem;

$game-header-card-title-mobile: 2rem;

$small-section-bottom-space-mobile: 1.75rem;
/*Color*/
$primary-color: #fb3c4c;
$bg-color: #fff;
$bg-color-2: #f5f1f1;

/* Shadow */
$box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2);
$box-shadow-hover: 5px 7px 15px 0 rgba(0, 0, 0, 0.2);

/* Genre color*/
$action: #e9a88f;
$strategy: #5ae9d8;
$rpg: #8fb1f1;
$stealth: #65f558;

/* Layers */
$z-index-pagination: 5;
$z-index-navbar: 20;
$z-index-overlay-submenu: 15;
$z-index-overlay-screenshot: 25;

/*Media queries*/
// <500
$mobile: 500px;
// 768 - 1024
$tablet: 768px;
// 1024- 1250
$desktop: 1024px;
// >1250
$large-screen: 1250px;
// > 1450
$ultra-large-screen: 1450px;

/* Default navbar height*/
$navbar-height: 70px;

/*Font*/
@import url("https://fonts.googleapis.com/css2?family=Sarabun:wght@400;700&display=swap");

/*mixin*/
@mixin flex() {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin media_for_mobile {
  @media only screen and (max-width: $tablet - 1) {
    @content;
  }
}

@mixin media_for_tablet {
  @media only screen and (min-width: $tablet) {
    @content;
  }
}

@mixin media_for_desktop {
  @media only screen and (min-width: $desktop) {
    @content;
  }
}

@mixin media_for_large_screen {
  @media only screen and (min-width: $large-screen) {
    @content;
  }
}
@mixin media_for_ultra_large_screen {
  @media only screen and (min-width: $ultra-large-screen) {
    @content;
  }
}

@mixin card_on_mobile {
  width: 220px;
  height: 330px;
}

@mixin card_on_tablet {
  width: 220px;
  height: 330px;
}

@mixin card_on_desktop {
  width: 320px;
  height: 480px;
}

/*Global Style*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $bg-color;
  font-family: "Sarabun", "Helvetica", sans-serif;
  width: 100vw;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: black;
}

button {
  all: unset;
  cursor: pointer;
}

li {
  list-style-type: none;
}

main {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 0 auto;
  section {
    margin: 1.75rem 0;
  }
}

p {
  font-size: $para-font-size;
}

a {
  .category {
    padding: 0.25rem 1rem;
    border-radius: 5px;
    font-size: $para-font-size;
    font-weight: bold;
    &.Action {
      background-color: $action;
    }
    &.Strategy {
      background-color: $strategy;
    }
    &.Stealth {
      background-color: $stealth;
    }
    &.RPG {
      background-color: $rpg;
    }
    @include media_for_mobile {
      padding: 0.25rem 0.5rem;
    }
  }
}

.menuOpen {
  height: 100%;
  width: 100%;
  position: fixed;
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: $z-index-overlay-submenu;
  }
}
