/* Navbar */
nav {
  display: flex;
  align-items: center;
  height: $navbar-height;
  width: 100vw;
  position: fixed;
  top: 0;
  font-size: $para-font-size;
  z-index: $z-index-navbar;
  background-color: $bg-color;
  box-shadow: $box-shadow;
  // Overflow: hidden will hide submenu
  overflow: unset;

  @include media_for_mobile {
    justify-content: space-between;
  }

  .logo-container {
    display: flex;
    align-items: center;
    min-width: 250px;
    a {
      display: flex;
      align-items: center;
      height: $navbar-height;
      margin-top: 0;
      .logo {
        height: 100%;
        margin-right: 1rem;
        @include media_for_desktop {
          margin-right: 1.5rem;
        }
      }
    }

    @include media_for_mobile {
      padding-left: 0;
    }
    @include media_for_tablet {
      padding-left: 1.5rem;
    }
    @include media_for_desktop {
      padding-left: 2rem;
    }
    @include media_for_large_screen {
      width: 20%;
    }
  }

  .nav-menu {
    li {
      &:not(:last-child) {
        margin-right: 1.5rem;
        @include media_for_tablet {
          margin-right: 3.5rem;
        }
        @include media_for_desktop {
          margin-right: 4.5rem;
        }
      }
      a:hover {
        text-decoration: underline;
      }
    }

    @include media_for_mobile {
      display: none;
    }
    @include media_for_tablet {
      width: 60%;
      justify-content: center;
      flex: auto;
      @include flex();
    }
  }

  .personal-menu {
    display: none;
    padding-right: 3rem;
    @include media_for_large_screen {
      @include flex();
    }
    li {
      &:not(:last-child) {
        margin-right: 3rem;
      }
      &:first-child {
        position: relative;
        //This z-index make search result container appear above login modal on big screen
        z-index: 1;
      }
      #hide-on-search-click {
        position: absolute;
        left: -60px;
      }
      #search-query-on-desktop {
        opacity: 0;
        position: absolute;
        left: 0;
        font-family: inherit;
        font-size: $para-font-size;
        border: 0;
        border-bottom: 1px solid black;
        background-color: transparent;
        min-width: 250px;
        pointer-events: none;
        &:hover,
        &:focus {
          outline: none;
        }
        &::placeholder {
          opacity: 0.5;
        }
      }
      .search-btn {
        text-align: center;
        cursor: pointer;
        .fa-search {
          margin-left: 0.75rem;
        }
      }

      /// Search dropdown
      .searchResults-container {
        position: absolute;
        background-color: $bg-color-2;
        display: none;
        flex-direction: column;
        align-items: flex-end;
        box-shadow: 0 -2px 8px 0 rgba(0, 0, 0, 0.2);
        border-radius: 15px;
        padding: 1rem;
        min-width: 250px;
        @include media_for_mobile {
          top: 240px;
        }
        @include media_for_tablet {
          top: 50px;
        }
        @include media_for_large_screen {
          top: 30px;
          right: 50px;
        }

        & > * {
          white-space: nowrap;
          margin: 0;
          a:hover {
            text-decoration: underline;
          }
        }
        &::after {
          content: "";
          position: absolute;
          top: 0;
          left: 80%;
          width: 10px;
          height: 0;
          border-left: 10px solid transparent;
          border-right: 10px solid transparent;
          border-bottom: 10px solid $bg-color-2;
          transform: translateY(calc(-100%));
          box-sizing: inherit;
        }
      }
    }
    .show-when-logged-in {
      display: flex;
      align-items: center;
      justify-content: space-evenly;
      @include media_for_large_screen {
        width: 250px;
      }
      @include media_for_ultra_large_screen {
        width: 300px;
      }
    }
  }

  .fa-bars {
    display: inline-flex;
    font-size: 2rem;
    margin-right: 1rem;
    cursor: pointer;

    @include media_for_tablet {
      align-items: center;
    }
    @include media_for_large_screen {
      display: none;
    }
  }

  // Submenu show on click
  .sub-menu {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: $navbar-height;
    width: 100vw;
    height: 280px;
    background-color: $bg-color-2;
    padding: 2rem 0;
    transform: translateY(-200%);
    transition: all 500ms ease-out;
    opacity: 0;
    .nav-menu {
      display: grid;
      grid-template-columns: 1.25fr 1fr;
      grid-template-rows: repeat(2, 1fr);
      width: 80%;
      margin: 0 auto;
      flex: unset;
      height: 100px;
      li {
        margin-right: unset;
      }
      .fas {
        color: $primary-color;
        margin-right: 0.5rem;
      }
      @include media_for_tablet {
        display: none;
      }
    }

    .personal-menu {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(2, 1fr);
      width: 100%;
      margin: 0 auto;
      height: 110px;
      padding: 0;
      li {
        justify-self: center;
        margin: unset;
        @include flex();
      }
      li:last-child {
        grid-column: 1 / span 2;
        .fa-search {
          font-size: 1.75rem;
          margin-right: 0.5rem;
          cursor: pointer;
        }
        #search-query {
          display: none;
          font-family: inherit;
          font-size: $para-font-size;
          border: 0;
          border-bottom: 1px solid black;
          background-color: transparent;
          min-width: 230px;
          &:hover,
          &:focus {
            outline: none;
          }
          &::placeholder {
            opacity: 0.5;
          }
        }
      }
      .show-when-logged-in {
        grid-column: 1 / span 2;
        margin-bottom: 1rem;
        text-align: center;
        .logged-in-mes {
          margin-right: 1rem;
        }
        @include media_for_tablet {
          flex-direction: row;
          margin-bottom: 0;
        }
      }
      @include media_for_tablet {
        display: flex;
        justify-content: space-evenly;
        height: auto;
      }
    }

    @include media_for_tablet {
      height: 60px;
      padding: unset;
      flex-direction: unset;
    }
    @include media_for_large_screen {
      display: none;
    }
  }
  // Show when click on login
  .login-modal-container {
    position: absolute;
    top: $navbar-height;
    width: 100%;
    padding-top: 1rem;
    font-size: $para-font-size;
    height: 180px;
    background: $bg-color-2;
    transform: translateY(-200%);
    opacity: 0;
    transition: all 500ms ease-out;
    @include media_for_desktop {
      height: unset;
      padding-bottom: 1rem;
    }
    .exit-modal-btn {
      position: absolute;
      right: 15px;
      top: 5px;
    }

    form {
      text-align: center;
      height: 90%;
      @include media_for_large_screen {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        width: 85%;
        margin: 0 auto;
      }
      div {
        @include media_for_desktop {
          display: inline-block;
        }
      }

      label {
        margin-right: 1rem;
      }
      input {
        border: 0;
        background: transparent;
        border-bottom: 1px solid black;
        font-size: $para-font-size-mobile;
        font-family: inherit;
        margin-bottom: 1rem;
        outline: none;
        min-width: 200px;
        width: 50%;
        max-width: 450px;
        @include media_for_large_screen {
          min-width: 230px;
        }
      }
      button {
        display: block;
        margin: 0 auto;
        @include media_for_desktop {
          display: inline-block;
          margin: unset;
        }
      }
      .sign-up-btn {
        font-size: 0.8rem;
        text-decoration: underline;
        color: blue;
        @include media_for_desktop {
          font-size: $para-font-size-mobile;
        }
      }
    }
  }
}
