@import "./global";
@import "./navbar";
@import "./footer";
@import "./cta-btn";

main {
  margin-top: $navbar-height;
}

form {
  padding: 2rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  font-size: $para-font-size;
  input {
    max-width: 250px;
    font-size: inherit;
    font-family: inherit;
    border: 0;
    border-bottom: 1px solid black;
    outline: none;
  }
  button {
    margin-top: 1rem;
  }
}
a {
  width: auto;
  margin: 0 auto;
  font-size: $para-font-size;
}