/* Font size */
/*Color*/
/* Shadow */
/* Genre color*/
/* Layers */
/*Media queries*/
/* Default navbar height*/
/*Font*/
@import url("https://fonts.googleapis.com/css2?family=Sarabun:wght@400;700&display=swap");
/*mixin*/
/*Global Style*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #fff;
  font-family: "Sarabun", "Helvetica", sans-serif;
  width: 100vw;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: black;
}

button {
  all: unset;
  cursor: pointer;
}

li {
  list-style-type: none;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 90%;
  margin: 0 auto;
}

main section {
  margin: 1.75rem 0;
}

p {
  font-size: 1.25rem;
}

a .category {
  padding: 0.25rem 1rem;
  border-radius: 5px;
  font-size: 1.25rem;
  font-weight: bold;
}

a .category.Action {
  background-color: #e9a88f;
}

a .category.Strategy {
  background-color: #5ae9d8;
}

a .category.Stealth {
  background-color: #65f558;
}

a .category.RPG {
  background-color: #8fb1f1;
}

@media only screen and (max-width: 767px) {
  a .category {
    padding: 0.25rem 0.5rem;
  }
}

.menuOpen {
  height: 100%;
  width: 100%;
  position: fixed;
}

.menuOpen::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 15;
}

/* Personal Button */
.personal-btn {
  border: 2px solid #fb3c4c;
  border-radius: 20px;
  padding: 0.5rem 2rem;
  letter-spacing: 0.5px;
}

.personal-btn:hover {
  background-color: #fb3c4c;
  color: white;
}

.personal-btn.cta-btn {
  background-color: #fb3c4c;
  color: white;
}

.personal-btn.cta-btn:hover {
  background-color: white;
  color: #fb3c4c;
}

/* Navbar */
nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 70px;
  width: 100vw;
  position: fixed;
  top: 0;
  font-size: 1.25rem;
  z-index: 20;
  background-color: #fff;
  -webkit-box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2);
  overflow: unset;
}

@media only screen and (max-width: 767px) {
  nav {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

nav .logo-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 250px;
}

nav .logo-container a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 70px;
  margin-top: 0;
}

nav .logo-container a .logo {
  height: 100%;
  margin-right: 1rem;
}

@media only screen and (min-width: 1024px) {
  nav .logo-container a .logo {
    margin-right: 1.5rem;
  }
}

@media only screen and (max-width: 767px) {
  nav .logo-container {
    padding-left: 0;
  }
}

@media only screen and (min-width: 768px) {
  nav .logo-container {
    padding-left: 1.5rem;
  }
}

@media only screen and (min-width: 1024px) {
  nav .logo-container {
    padding-left: 2rem;
  }
}

@media only screen and (min-width: 1250px) {
  nav .logo-container {
    width: 20%;
  }
}

nav .nav-menu li:not(:last-child) {
  margin-right: 1.5rem;
}

@media only screen and (min-width: 768px) {
  nav .nav-menu li:not(:last-child) {
    margin-right: 3.5rem;
  }
}

@media only screen and (min-width: 1024px) {
  nav .nav-menu li:not(:last-child) {
    margin-right: 4.5rem;
  }
}

nav .nav-menu li a:hover {
  text-decoration: underline;
}

@media only screen and (max-width: 767px) {
  nav .nav-menu {
    display: none;
  }
}

@media only screen and (min-width: 768px) {
  nav .nav-menu {
    width: 60%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-flex: 1;
        -ms-flex: auto;
            flex: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    justify-content: center;
  }
}

nav .personal-menu {
  display: none;
  padding-right: 3rem;
}

@media only screen and (min-width: 1250px) {
  nav .personal-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

nav .personal-menu li:not(:last-child) {
  margin-right: 3rem;
}

nav .personal-menu li:first-child {
  position: relative;
  z-index: 1;
}

nav .personal-menu li #hide-on-search-click {
  position: absolute;
  left: -60px;
}

nav .personal-menu li #search-query-on-desktop {
  opacity: 0;
  position: absolute;
  left: 0;
  font-family: inherit;
  font-size: 1.25rem;
  border: 0;
  border-bottom: 1px solid black;
  background-color: transparent;
  min-width: 250px;
  pointer-events: none;
}

nav .personal-menu li #search-query-on-desktop:hover, nav .personal-menu li #search-query-on-desktop:focus {
  outline: none;
}

nav .personal-menu li #search-query-on-desktop::-webkit-input-placeholder {
  opacity: 0.5;
}

nav .personal-menu li #search-query-on-desktop:-ms-input-placeholder {
  opacity: 0.5;
}

nav .personal-menu li #search-query-on-desktop::-ms-input-placeholder {
  opacity: 0.5;
}

nav .personal-menu li #search-query-on-desktop::placeholder {
  opacity: 0.5;
}

nav .personal-menu li .search-btn {
  text-align: center;
  cursor: pointer;
}

nav .personal-menu li .search-btn .fa-search {
  margin-left: 0.75rem;
}

nav .personal-menu li .searchResults-container {
  position: absolute;
  background-color: #f5f1f1;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-shadow: 0 -2px 8px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 -2px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  padding: 1rem;
  min-width: 250px;
}

@media only screen and (max-width: 767px) {
  nav .personal-menu li .searchResults-container {
    top: 240px;
  }
}

@media only screen and (min-width: 768px) {
  nav .personal-menu li .searchResults-container {
    top: 50px;
  }
}

@media only screen and (min-width: 1250px) {
  nav .personal-menu li .searchResults-container {
    top: 30px;
    right: 50px;
  }
}

nav .personal-menu li .searchResults-container > * {
  white-space: nowrap;
  margin: 0;
}

nav .personal-menu li .searchResults-container > * a:hover {
  text-decoration: underline;
}

nav .personal-menu li .searchResults-container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 80%;
  width: 10px;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #f5f1f1;
  -webkit-transform: translateY(calc(-100%));
          transform: translateY(calc(-100%));
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

nav .personal-menu .show-when-logged-in {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

@media only screen and (min-width: 1250px) {
  nav .personal-menu .show-when-logged-in {
    width: 250px;
  }
}

@media only screen and (min-width: 1450px) {
  nav .personal-menu .show-when-logged-in {
    width: 300px;
  }
}

nav .fa-bars {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-size: 2rem;
  margin-right: 1rem;
  cursor: pointer;
}

@media only screen and (min-width: 768px) {
  nav .fa-bars {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media only screen and (min-width: 1250px) {
  nav .fa-bars {
    display: none;
  }
}

nav .sub-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  top: 70px;
  width: 100vw;
  height: 280px;
  background-color: #f5f1f1;
  padding: 2rem 0;
  -webkit-transform: translateY(-200%);
          transform: translateY(-200%);
  -webkit-transition: all 500ms ease-out;
  transition: all 500ms ease-out;
  opacity: 0;
}

nav .sub-menu .nav-menu {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1.25fr 1fr;
      grid-template-columns: 1.25fr 1fr;
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
  width: 80%;
  margin: 0 auto;
  -webkit-box-flex: unset;
      -ms-flex: unset;
          flex: unset;
  height: 100px;
}

nav .sub-menu .nav-menu li {
  margin-right: unset;
}

nav .sub-menu .nav-menu .fas {
  color: #fb3c4c;
  margin-right: 0.5rem;
}

@media only screen and (min-width: 768px) {
  nav .sub-menu .nav-menu {
    display: none;
  }
}

nav .sub-menu .personal-menu {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
  width: 100%;
  margin: 0 auto;
  height: 110px;
  padding: 0;
}

nav .sub-menu .personal-menu li {
  justify-self: center;
  margin: unset;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

nav .sub-menu .personal-menu li:last-child {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / span 2;
}

nav .sub-menu .personal-menu li:last-child .fa-search {
  font-size: 1.75rem;
  margin-right: 0.5rem;
  cursor: pointer;
}

nav .sub-menu .personal-menu li:last-child #search-query {
  display: none;
  font-family: inherit;
  font-size: 1.25rem;
  border: 0;
  border-bottom: 1px solid black;
  background-color: transparent;
  min-width: 230px;
}

nav .sub-menu .personal-menu li:last-child #search-query:hover, nav .sub-menu .personal-menu li:last-child #search-query:focus {
  outline: none;
}

nav .sub-menu .personal-menu li:last-child #search-query::-webkit-input-placeholder {
  opacity: 0.5;
}

nav .sub-menu .personal-menu li:last-child #search-query:-ms-input-placeholder {
  opacity: 0.5;
}

nav .sub-menu .personal-menu li:last-child #search-query::-ms-input-placeholder {
  opacity: 0.5;
}

nav .sub-menu .personal-menu li:last-child #search-query::placeholder {
  opacity: 0.5;
}

nav .sub-menu .personal-menu .show-when-logged-in {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / span 2;
  margin-bottom: 1rem;
  text-align: center;
}

nav .sub-menu .personal-menu .show-when-logged-in .logged-in-mes {
  margin-right: 1rem;
}

@media only screen and (min-width: 768px) {
  nav .sub-menu .personal-menu .show-when-logged-in {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-bottom: 0;
  }
}

@media only screen and (min-width: 768px) {
  nav .sub-menu .personal-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    height: auto;
  }
}

@media only screen and (min-width: 768px) {
  nav .sub-menu {
    height: 60px;
    padding: unset;
    -webkit-box-orient: unset;
    -webkit-box-direction: unset;
        -ms-flex-direction: unset;
            flex-direction: unset;
  }
}

@media only screen and (min-width: 1250px) {
  nav .sub-menu {
    display: none;
  }
}

nav .login-modal-container {
  position: absolute;
  top: 70px;
  width: 100%;
  padding-top: 1rem;
  font-size: 1.25rem;
  height: 180px;
  background: #f5f1f1;
  -webkit-transform: translateY(-200%);
          transform: translateY(-200%);
  opacity: 0;
  -webkit-transition: all 500ms ease-out;
  transition: all 500ms ease-out;
}

@media only screen and (min-width: 1024px) {
  nav .login-modal-container {
    height: unset;
    padding-bottom: 1rem;
  }
}

nav .login-modal-container .exit-modal-btn {
  position: absolute;
  right: 15px;
  top: 5px;
}

nav .login-modal-container form {
  text-align: center;
  height: 90%;
}

@media only screen and (min-width: 1250px) {
  nav .login-modal-container form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 85%;
    margin: 0 auto;
  }
}

@media only screen and (min-width: 1024px) {
  nav .login-modal-container form div {
    display: inline-block;
  }
}

nav .login-modal-container form label {
  margin-right: 1rem;
}

nav .login-modal-container form input {
  border: 0;
  background: transparent;
  border-bottom: 1px solid black;
  font-size: 1.05rem;
  font-family: inherit;
  margin-bottom: 1rem;
  outline: none;
  min-width: 200px;
  width: 50%;
  max-width: 450px;
}

@media only screen and (min-width: 1250px) {
  nav .login-modal-container form input {
    min-width: 230px;
  }
}

nav .login-modal-container form button {
  display: block;
  margin: 0 auto;
}

@media only screen and (min-width: 1024px) {
  nav .login-modal-container form button {
    display: inline-block;
    margin: unset;
  }
}

nav .login-modal-container form .sign-up-btn {
  font-size: 0.8rem;
  text-decoration: underline;
  color: blue;
}

@media only screen and (min-width: 1024px) {
  nav .login-modal-container form .sign-up-btn {
    font-size: 1.05rem;
  }
}

/* Footer */
footer {
  background-color: #f5f1f1;
}

footer .detail-site-map {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

footer .detail-site-map h4 {
  font-size: 1.25rem;
  margin-bottom: 1rem;
}

@media only screen and (min-width: 1024px) {
  footer .detail-site-map h4 {
    font-size: 1.5rem;
  }
}

footer .detail-site-map a:hover {
  text-decoration: underline;
}

@media only screen and (max-width: 767px) {
  footer .detail-site-map {
    padding-left: 2rem;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 15px;
  }
}

@media only screen and (min-width: 500px) {
  footer .detail-site-map {
    padding-left: 2rem;
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media only screen and (min-width: 1024px) {
  footer .detail-site-map {
    padding-left: 15.5rem;
    width: 80%;
  }
}

@media only screen and (min-width: 1250px) {
  footer .detail-site-map {
    width: 70%;
  }
}

@media only screen and (min-width: 1450px) {
  footer .detail-site-map {
    width: 50%;
  }
}

footer hr {
  width: 80%;
  margin: 0 auto;
}

footer .social-icons-and-copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.25rem;
}

@media only screen and (max-width: 767px) {
  footer .social-icons-and-copyright {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 150px;
    padding: 1.5rem 0;
  }
}

@media only screen and (min-width: 500px) {
  footer .social-icons-and-copyright {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 120px;
    padding: 1.5rem 0;
  }
}

@media only screen and (min-width: 1024px) {
  footer .social-icons-and-copyright {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: auto;
    padding: 2.5rem 0;
  }
}

footer .social-icons-and-copyright .social-icons-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 250px;
  font-size: 1.25em;
}

@media only screen and (max-width: 767px) {
  footer .copyright-text {
    font-size: 0.95em;
    text-align: center;
  }
}

/* Hero */
.hero-container #video {
  width: 100%;
  margin-top: 70px;
  -o-object-fit: cover;
     object-fit: cover;
}

@media only screen and (max-width: 767px) {
  .hero-container #video {
    height: auto;
  }
}

@media only screen and (min-width: 1250px) {
  .hero-container #video {
    height: 800px;
  }
}

/* Main area - General Style*/
main {
  position: relative;
  top: -150px;
  margin-bottom: -150px;
}

@media only screen and (max-width: 767px) {
  main {
    top: -50px;
    margin-bottom: -50px;
  }
}

.game-info-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

@media only screen and (min-width: 1450px) {
  .game-info-container {
    -ms-grid-columns: 1fr 1200px 1fr;
        grid-template-columns: 1fr 1200px 1fr;
  }
}

.game-info-container .big-title {
  position: relative;
  text-align: right;
  padding-right: 2rem;
  font-size: 2.25rem;
}

@media only screen and (max-width: 767px) {
  .game-info-container .big-title {
    text-align: center;
    width: 100%;
    padding: unset;
    font-size: 2rem;
    margin-bottom: 1.75rem;
  }
}

@media only screen and (min-width: 768px) {
  .game-info-container .big-title {
    text-align: center;
    margin-bottom: 1.75rem;
    padding: unset;
  }
}

.game-info-container .big-title::after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  border: 1px solid rgba(0, 0, 0, 0.3);
}

@media only screen and (max-width: 767px) {
  .game-info-container .big-title::after {
    display: none;
  }
}

@media only screen and (min-width: 768px) {
  .game-info-container .big-title::after {
    display: none;
  }
}

@media only screen and (min-width: 1450px) {
  .game-info-container .big-title::after {
    display: unset;
  }
}

.game-info-container .inside-main-view {
  padding-left: 2rem;
}

@media only screen and (max-width: 767px) {
  .game-info-container .inside-main-view {
    padding-left: unset;
    width: 100%;
  }
}

hr {
  width: 80%;
  margin: 0 auto;
}

/* Game Header Card*/
.game-header-card {
  background-color: #f5f1f1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 300px;
  margin: 0 auto 1.75rem;
  padding: 1rem 1.5rem;
  -webkit-box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 15px;
}

@media only screen and (max-width: 767px) {
  .game-header-card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%;
    height: auto;
    background-color: unset;
    -webkit-box-shadow: unset;
            box-shadow: unset;
    padding: 0.5rem;
  }
}

@media only screen and (min-width: 768px) {
  .game-header-card {
    width: 100%;
    max-width: 1200px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 220px 1fr;
        grid-template-columns: 220px 1fr;
    -ms-grid-rows: 1fr 0.3fr;
        grid-template-rows: 1fr 0.3fr;
  }
}

@media only screen and (min-width: 1250px) {
  .game-header-card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.game-header-card img {
  max-width: 200px;
}

@media only screen and (max-width: 767px) {
  .game-header-card img {
    width: 160px;
    height: 240px;
    margin: 0 auto;
  }
}

@media only screen and (min-width: 768px) {
  .game-header-card img {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1 / span 2;
  }
}

@media only screen and (min-width: 1250px) {
  .game-header-card img {
    margin-right: 2rem;
  }
}

.game-header-card .text-wrapper {
  width: 650px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-top: 2rem;
}

@media only screen and (max-width: 767px) {
  .game-header-card .text-wrapper {
    width: 100%;
  }
}

@media only screen and (min-width: 768px) {
  .game-header-card .text-wrapper {
    width: 100%;
  }
}

@media only screen and (min-width: 1250px) {
  .game-header-card .text-wrapper {
    width: 600px;
  }
}

@media only screen and (min-width: 1450px) {
  .game-header-card .text-wrapper {
    width: 650px;
  }
}

.game-header-card .text-wrapper h1 {
  font-size: 2.5rem;
  margin-bottom: 0.25rem;
}

@media only screen and (max-width: 767px) {
  .game-header-card .text-wrapper h1 {
    font-size: 2rem;
  }
}

.game-header-card .text-wrapper .rating,
.game-header-card .text-wrapper .short-desc {
  font-size: 1.25rem;
  margin-bottom: 0.75rem;
}

.game-header-card .text-wrapper .rating .num-users-rating,
.game-header-card .text-wrapper .short-desc .num-users-rating {
  margin-left: 0.75rem;
}

.game-header-card .button-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

@media only screen and (max-width: 767px) {
  .game-header-card .button-wrapper {
    -ms-flex-line-pack: justify;
        align-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 180px;
  }
}

@media only screen and (min-width: 768px) {
  .game-header-card .button-wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
}

@media only screen and (min-width: 1250px) {
  .game-header-card .button-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.game-header-card .button-wrapper button {
  font-size: 1.5rem;
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

@media only screen and (min-width: 768px) {
  .game-header-card .button-wrapper button {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

@media only screen and (min-width: 1250px) {
  .game-header-card .button-wrapper button {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

/*About*/
.about .inside-main-view article {
  margin-bottom: 3.5rem;
}

@media only screen and (max-width: 767px) {
  .about .inside-main-view article {
    margin-bottom: 1.75rem;
  }
}

.about .inside-main-view .title {
  font-size: 1.75rem;
  margin-bottom: 1rem;
}

.about .inside-main-view p {
  font-size: 1.25rem;
  text-align: justify;
}

.about .inside-main-view .small-info {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

@media only screen and (max-width: 767px) {
  .about .inside-main-view .small-info {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.about .inside-main-view .small-info h4 {
  font-size: 1.25rem;
}

.about .inside-main-view .screenshot .screenshot-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 20px;
}

.about .inside-main-view .screenshot .screenshot-wrapper img {
  width: 525px;
  height: 295px;
  cursor: pointer;
}

@media only screen and (max-width: 767px) {
  .about .inside-main-view .screenshot .screenshot-wrapper img {
    max-width: 100%;
    height: auto;
  }
}

/* System Requirements */
.sys .platform-list-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-bottom: 2rem;
}

.sys .platform-list-wrapper .fab {
  font-size: 2.5rem;
  cursor: pointer;
  -webkit-transform: perspective(50px) translateZ(0);
          transform: perspective(50px) translateZ(0);
  -webkit-transition: -webkit-transform 0.5s linear;
  transition: -webkit-transform 0.5s linear;
  transition: transform 0.5s linear;
  transition: transform 0.5s linear, -webkit-transform 0.5s linear;
}

.sys .platform-list-wrapper .fab:hover {
  -webkit-transform: perspective(50px) translateZ(10px);
          transform: perspective(50px) translateZ(10px);
}

.sys .platform-list-wrapper .fab.active {
  -webkit-transform: perspective(50px) translateZ(10px);
          transform: perspective(50px) translateZ(10px);
}

.sys .system-requirement-list-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media only screen and (max-width: 767px) {
  .sys .system-requirement-list-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media only screen and (min-width: 768px) {
  .sys .system-requirement-list-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media only screen and (min-width: 1250px) {
  .sys .system-requirement-list-wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

.sys .system-requirement-list-wrapper h3 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.sys .system-requirement-list-wrapper p {
  line-height: 25px;
}

.sys .system-requirement-list-wrapper p span {
  font-weight: bold;
  margin-right: 0.5rem;
}

.sys .system-requirement-list-wrapper hr {
  width: 30%;
}

@media only screen and (min-width: 1250px) {
  .sys .system-requirement-list-wrapper hr {
    display: none;
  }
}

.sys .system-requirement-list-wrapper > * {
  width: 550px;
}

@media only screen and (max-width: 767px) {
  .sys .system-requirement-list-wrapper > * {
    margin-bottom: 1.75rem;
    overflow: hidden;
    width: 100%;
  }
}

@media only screen and (min-width: 768px) {
  .sys .system-requirement-list-wrapper > * {
    margin-bottom: 1.75rem;
  }
}

/*User rating*/
.user-rating .fas,
.user-rating .number-rating {
  margin-right: 0.5rem;
}

.user-rating .number-rating {
  font-size: 1.75rem;
}

/* Similar Games */
.game-card-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (320px)[4];
      grid-template-columns: repeat(4, 320px);
  gap: 50px;
}

@media only screen and (max-width: 767px) {
  .game-card-container {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

@media only screen and (min-width: 530px) {
  .game-card-container {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (min-width: 1250px) {
  .game-card-container {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}

.game-card-container form {
  -ms-grid-column-align: center;
      justify-self: center;
}

.game-card-container .card-component {
  cursor: pointer;
}

.game-card-container .card-component .card {
  width: 320px;
  height: 480px;
  border-radius: 5%;
  margin-bottom: 1rem;
  -webkit-box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2);
  overflow: hidden;
  -webkit-transform: perspective(50px) translateZ(0);
          transform: perspective(50px) translateZ(0);
  -webkit-transition: -webkit-transform 0.5s linear;
  transition: -webkit-transform 0.5s linear;
  transition: transform 0.5s linear;
  transition: transform 0.5s linear, -webkit-transform 0.5s linear;
}

.game-card-container .card-component .card:hover {
  -webkit-box-shadow: 5px 7px 15px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 5px 7px 15px 0 rgba(0, 0, 0, 0.2);
  -webkit-transform: perspective(50px) translateZ(2px);
          transform: perspective(50px) translateZ(2px);
}

.game-card-container .card-component .card img {
  max-width: 100%;
  height: auto;
}

@media only screen and (max-width: 767px) {
  .game-card-container .card-component .card {
    width: 220px;
    height: 330px;
  }
}

@media only screen and (min-width: 768px) {
  .game-card-container .card-component .card {
    width: 320px;
    height: 480px;
  }
}

.game-card-container .card-component .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 98%;
  margin: 0 auto;
}

@media only screen and (max-width: 767px) {
  .game-card-container .card-component .text .title {
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 767px) {
  .game-card-container .card-component .text {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    height: 65px;
  }
}

/* Screenshot Overlay */
.overlay {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  width: 100%;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 25;
  left: 0;
  top: 0;
}
/*# sourceMappingURL=singleGame.css.map */