/* Font size */
/*Color*/
/* Shadow */
/* Genre color*/
/* Layers */
/*Media queries*/
/* Default navbar height*/
/*Font*/
@import url("https://fonts.googleapis.com/css2?family=Sarabun:wght@400;700&display=swap");
/*mixin*/
/*Global Style*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #fff;
  font-family: "Sarabun", "Helvetica", sans-serif;
  width: 100vw;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: black;
}

button {
  all: unset;
  cursor: pointer;
}

li {
  list-style-type: none;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 90%;
  margin: 0 auto;
}

main section {
  margin: 1.75rem 0;
}

p {
  font-size: 1.25rem;
}

a .category {
  padding: 0.25rem 1rem;
  border-radius: 5px;
  font-size: 1.25rem;
  font-weight: bold;
}

a .category.Action {
  background-color: #e9a88f;
}

a .category.Strategy {
  background-color: #5ae9d8;
}

a .category.Stealth {
  background-color: #65f558;
}

a .category.RPG {
  background-color: #8fb1f1;
}

@media only screen and (max-width: 767px) {
  a .category {
    padding: 0.25rem 0.5rem;
  }
}

.menuOpen {
  height: 100%;
  width: 100%;
  position: fixed;
}

.menuOpen::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 15;
}

/* Navbar */
nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 70px;
  width: 100vw;
  position: fixed;
  top: 0;
  font-size: 1.25rem;
  z-index: 20;
  background-color: #fff;
  -webkit-box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2);
  overflow: unset;
}

@media only screen and (max-width: 767px) {
  nav {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

nav .logo-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 250px;
}

nav .logo-container a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 70px;
  margin-top: 0;
}

nav .logo-container a .logo {
  height: 100%;
  margin-right: 1rem;
}

@media only screen and (min-width: 1024px) {
  nav .logo-container a .logo {
    margin-right: 1.5rem;
  }
}

@media only screen and (max-width: 767px) {
  nav .logo-container {
    padding-left: 0;
  }
}

@media only screen and (min-width: 768px) {
  nav .logo-container {
    padding-left: 1.5rem;
  }
}

@media only screen and (min-width: 1024px) {
  nav .logo-container {
    padding-left: 2rem;
  }
}

@media only screen and (min-width: 1250px) {
  nav .logo-container {
    width: 20%;
  }
}

nav .nav-menu li:not(:last-child) {
  margin-right: 1.5rem;
}

@media only screen and (min-width: 768px) {
  nav .nav-menu li:not(:last-child) {
    margin-right: 3.5rem;
  }
}

@media only screen and (min-width: 1024px) {
  nav .nav-menu li:not(:last-child) {
    margin-right: 4.5rem;
  }
}

nav .nav-menu li a:hover {
  text-decoration: underline;
}

@media only screen and (max-width: 767px) {
  nav .nav-menu {
    display: none;
  }
}

@media only screen and (min-width: 768px) {
  nav .nav-menu {
    width: 60%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-flex: 1;
        -ms-flex: auto;
            flex: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    justify-content: center;
  }
}

nav .personal-menu {
  display: none;
  padding-right: 3rem;
}

@media only screen and (min-width: 1250px) {
  nav .personal-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

nav .personal-menu li:not(:last-child) {
  margin-right: 3rem;
}

nav .personal-menu li:first-child {
  position: relative;
  z-index: 1;
}

nav .personal-menu li #hide-on-search-click {
  position: absolute;
  left: -60px;
}

nav .personal-menu li #search-query-on-desktop {
  opacity: 0;
  position: absolute;
  left: 0;
  font-family: inherit;
  font-size: 1.25rem;
  border: 0;
  border-bottom: 1px solid black;
  background-color: transparent;
  min-width: 250px;
  pointer-events: none;
}

nav .personal-menu li #search-query-on-desktop:hover, nav .personal-menu li #search-query-on-desktop:focus {
  outline: none;
}

nav .personal-menu li #search-query-on-desktop::-webkit-input-placeholder {
  opacity: 0.5;
}

nav .personal-menu li #search-query-on-desktop:-ms-input-placeholder {
  opacity: 0.5;
}

nav .personal-menu li #search-query-on-desktop::-ms-input-placeholder {
  opacity: 0.5;
}

nav .personal-menu li #search-query-on-desktop::placeholder {
  opacity: 0.5;
}

nav .personal-menu li .search-btn {
  text-align: center;
  cursor: pointer;
}

nav .personal-menu li .search-btn .fa-search {
  margin-left: 0.75rem;
}

nav .personal-menu li .searchResults-container {
  position: absolute;
  background-color: #f5f1f1;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-shadow: 0 -2px 8px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 -2px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 15px;
  padding: 1rem;
  min-width: 250px;
}

@media only screen and (max-width: 767px) {
  nav .personal-menu li .searchResults-container {
    top: 240px;
  }
}

@media only screen and (min-width: 768px) {
  nav .personal-menu li .searchResults-container {
    top: 50px;
  }
}

@media only screen and (min-width: 1250px) {
  nav .personal-menu li .searchResults-container {
    top: 30px;
    right: 50px;
  }
}

nav .personal-menu li .searchResults-container > * {
  white-space: nowrap;
  margin: 0;
}

nav .personal-menu li .searchResults-container > * a:hover {
  text-decoration: underline;
}

nav .personal-menu li .searchResults-container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 80%;
  width: 10px;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #f5f1f1;
  -webkit-transform: translateY(calc(-100%));
          transform: translateY(calc(-100%));
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

nav .personal-menu .show-when-logged-in {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

@media only screen and (min-width: 1250px) {
  nav .personal-menu .show-when-logged-in {
    width: 250px;
  }
}

@media only screen and (min-width: 1450px) {
  nav .personal-menu .show-when-logged-in {
    width: 300px;
  }
}

nav .fa-bars {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-size: 2rem;
  margin-right: 1rem;
  cursor: pointer;
}

@media only screen and (min-width: 768px) {
  nav .fa-bars {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media only screen and (min-width: 1250px) {
  nav .fa-bars {
    display: none;
  }
}

nav .sub-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  top: 70px;
  width: 100vw;
  height: 280px;
  background-color: #f5f1f1;
  padding: 2rem 0;
  -webkit-transform: translateY(-200%);
          transform: translateY(-200%);
  -webkit-transition: all 500ms ease-out;
  transition: all 500ms ease-out;
  opacity: 0;
}

nav .sub-menu .nav-menu {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1.25fr 1fr;
      grid-template-columns: 1.25fr 1fr;
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
  width: 80%;
  margin: 0 auto;
  -webkit-box-flex: unset;
      -ms-flex: unset;
          flex: unset;
  height: 100px;
}

nav .sub-menu .nav-menu li {
  margin-right: unset;
}

nav .sub-menu .nav-menu .fas {
  color: #fb3c4c;
  margin-right: 0.5rem;
}

@media only screen and (min-width: 768px) {
  nav .sub-menu .nav-menu {
    display: none;
  }
}

nav .sub-menu .personal-menu {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: (1fr)[2];
      grid-template-rows: repeat(2, 1fr);
  width: 100%;
  margin: 0 auto;
  height: 110px;
  padding: 0;
}

nav .sub-menu .personal-menu li {
  justify-self: center;
  margin: unset;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

nav .sub-menu .personal-menu li:last-child {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / span 2;
}

nav .sub-menu .personal-menu li:last-child .fa-search {
  font-size: 1.75rem;
  margin-right: 0.5rem;
  cursor: pointer;
}

nav .sub-menu .personal-menu li:last-child #search-query {
  display: none;
  font-family: inherit;
  font-size: 1.25rem;
  border: 0;
  border-bottom: 1px solid black;
  background-color: transparent;
  min-width: 230px;
}

nav .sub-menu .personal-menu li:last-child #search-query:hover, nav .sub-menu .personal-menu li:last-child #search-query:focus {
  outline: none;
}

nav .sub-menu .personal-menu li:last-child #search-query::-webkit-input-placeholder {
  opacity: 0.5;
}

nav .sub-menu .personal-menu li:last-child #search-query:-ms-input-placeholder {
  opacity: 0.5;
}

nav .sub-menu .personal-menu li:last-child #search-query::-ms-input-placeholder {
  opacity: 0.5;
}

nav .sub-menu .personal-menu li:last-child #search-query::placeholder {
  opacity: 0.5;
}

nav .sub-menu .personal-menu .show-when-logged-in {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / span 2;
  margin-bottom: 1rem;
  text-align: center;
}

nav .sub-menu .personal-menu .show-when-logged-in .logged-in-mes {
  margin-right: 1rem;
}

@media only screen and (min-width: 768px) {
  nav .sub-menu .personal-menu .show-when-logged-in {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-bottom: 0;
  }
}

@media only screen and (min-width: 768px) {
  nav .sub-menu .personal-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    height: auto;
  }
}

@media only screen and (min-width: 768px) {
  nav .sub-menu {
    height: 60px;
    padding: unset;
    -webkit-box-orient: unset;
    -webkit-box-direction: unset;
        -ms-flex-direction: unset;
            flex-direction: unset;
  }
}

@media only screen and (min-width: 1250px) {
  nav .sub-menu {
    display: none;
  }
}

nav .login-modal-container {
  position: absolute;
  top: 70px;
  width: 100%;
  padding-top: 1rem;
  font-size: 1.25rem;
  height: 180px;
  background: #f5f1f1;
  -webkit-transform: translateY(-200%);
          transform: translateY(-200%);
  opacity: 0;
  -webkit-transition: all 500ms ease-out;
  transition: all 500ms ease-out;
}

@media only screen and (min-width: 1024px) {
  nav .login-modal-container {
    height: unset;
    padding-bottom: 1rem;
  }
}

nav .login-modal-container .exit-modal-btn {
  position: absolute;
  right: 15px;
  top: 5px;
}

nav .login-modal-container form {
  text-align: center;
  height: 90%;
}

@media only screen and (min-width: 1250px) {
  nav .login-modal-container form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 85%;
    margin: 0 auto;
  }
}

@media only screen and (min-width: 1024px) {
  nav .login-modal-container form div {
    display: inline-block;
  }
}

nav .login-modal-container form label {
  margin-right: 1rem;
}

nav .login-modal-container form input {
  border: 0;
  background: transparent;
  border-bottom: 1px solid black;
  font-size: 1.05rem;
  font-family: inherit;
  margin-bottom: 1rem;
  outline: none;
  min-width: 200px;
  width: 50%;
  max-width: 450px;
}

@media only screen and (min-width: 1250px) {
  nav .login-modal-container form input {
    min-width: 230px;
  }
}

nav .login-modal-container form button {
  display: block;
  margin: 0 auto;
}

@media only screen and (min-width: 1024px) {
  nav .login-modal-container form button {
    display: inline-block;
    margin: unset;
  }
}

nav .login-modal-container form .sign-up-btn {
  font-size: 0.8rem;
  text-decoration: underline;
  color: blue;
}

@media only screen and (min-width: 1024px) {
  nav .login-modal-container form .sign-up-btn {
    font-size: 1.05rem;
  }
}

/* Footer */
footer {
  background-color: #f5f1f1;
}

footer .detail-site-map {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

footer .detail-site-map h4 {
  font-size: 1.25rem;
  margin-bottom: 1rem;
}

@media only screen and (min-width: 1024px) {
  footer .detail-site-map h4 {
    font-size: 1.5rem;
  }
}

footer .detail-site-map a:hover {
  text-decoration: underline;
}

@media only screen and (max-width: 767px) {
  footer .detail-site-map {
    padding-left: 2rem;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 15px;
  }
}

@media only screen and (min-width: 500px) {
  footer .detail-site-map {
    padding-left: 2rem;
    width: 100%;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media only screen and (min-width: 1024px) {
  footer .detail-site-map {
    padding-left: 15.5rem;
    width: 80%;
  }
}

@media only screen and (min-width: 1250px) {
  footer .detail-site-map {
    width: 70%;
  }
}

@media only screen and (min-width: 1450px) {
  footer .detail-site-map {
    width: 50%;
  }
}

footer hr {
  width: 80%;
  margin: 0 auto;
}

footer .social-icons-and-copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.25rem;
}

@media only screen and (max-width: 767px) {
  footer .social-icons-and-copyright {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 150px;
    padding: 1.5rem 0;
  }
}

@media only screen and (min-width: 500px) {
  footer .social-icons-and-copyright {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 120px;
    padding: 1.5rem 0;
  }
}

@media only screen and (min-width: 1024px) {
  footer .social-icons-and-copyright {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    height: auto;
    padding: 2.5rem 0;
  }
}

footer .social-icons-and-copyright .social-icons-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 250px;
  font-size: 1.25em;
}

@media only screen and (max-width: 767px) {
  footer .copyright-text {
    font-size: 0.95em;
    text-align: center;
  }
}

/* Personal Button */
.personal-btn {
  border: 2px solid #fb3c4c;
  border-radius: 20px;
  padding: 0.5rem 2rem;
  letter-spacing: 0.5px;
}

.personal-btn:hover {
  background-color: #fb3c4c;
  color: white;
}

.personal-btn.cta-btn {
  background-color: #fb3c4c;
  color: white;
}

.personal-btn.cta-btn:hover {
  background-color: white;
  color: #fb3c4c;
}

/* Hero section */
.hero-container {
  margin-top: 70px;
  width: 100%;
  position: relative;
  overflow: hidden;
}

@media only screen and (min-width: 1024px) {
  .hero-container {
    height: 700px;
  }
}

.hero-container .pagination-container {
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 5;
  color: white;
}

.hero-container .pagination-container .control-btn,
.hero-container .pagination-container .page-wrapper {
  margin-right: 2rem;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 0.5rem;
  position: relative;
}

.hero-container .pagination-container .control-btn .page-btn:not(:last-child),
.hero-container .pagination-container .page-wrapper .page-btn:not(:last-child) {
  margin-right: 1.5rem;
}

.hero-container .pagination-container .control-btn .page-btn.active .fas,
.hero-container .pagination-container .page-wrapper .page-btn.active .fas {
  display: inline-block;
}

.hero-container .pagination-container .control-btn .page-btn.active .far,
.hero-container .pagination-container .page-wrapper .page-btn.active .far {
  display: none;
}

.hero-container .pagination-container .control-btn .page-btn .fas,
.hero-container .pagination-container .page-wrapper .page-btn .fas {
  display: none;
}

.hero-container .pagination-container .control-btn .page-btn .far,
.hero-container .pagination-container .page-wrapper .page-btn .far {
  display: inline-block;
}

.hero-container .slider-container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.slide {
  position: absolute;
  z-index: 1;
}

.slide .hero-text {
  position: absolute;
  text-align: center;
}

.slide .hero-text img {
  width: 500px;
  margin-bottom: 1rem;
}

.slide .hero-text .hero-desc {
  font-size: 2rem;
  margin-top: 1rem;
}

@media only screen and (min-width: 1024px) {
  .slide .hero-text#slide-1 {
    top: 250px;
    left: 100px;
  }
  .slide .hero-text#slide-1 .hero-desc {
    margin-bottom: 1rem;
  }
  .slide .hero-text#slide-2 {
    top: 200px;
    right: 150px;
    color: white;
    text-align: center;
    width: 600px;
  }
  .slide .hero-text#slide-2 .hero-title {
    font-size: 3.5rem;
    margin-bottom: 1rem;
  }
  .slide .hero-text#slide-2 .hero-desc {
    margin-bottom: 1rem;
  }
  .slide .hero-text#slide-3 {
    color: white;
    top: 150px;
    left: 150px;
  }
  .slide .hero-text#slide-3 img {
    width: 550px;
  }
}

@media only screen and (min-width: 768px) {
  .slide .hero-text button {
    font-size: 1.5rem;
  }
}

/* Feature Sale & Recently Updated */
.section-title {
  font-size: 2.25rem;
  margin-bottom: 1.5rem;
}

@media only screen and (max-width: 767px) {
  .section-title {
    font-size: 2rem;
  }
}

.game-card-container {
  display: -ms-grid;
  display: grid;
  justify-items: center;
}

@media only screen and (max-width: 767px) {
  .game-card-container {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

@media only screen and (min-width: 500px) {
  .game-card-container {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: (1fr)[2];
        grid-template-rows: repeat(2, 1fr);
    row-gap: 2.5rem;
  }
}

@media only screen and (min-width: 1250px) {
  .game-card-container {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (min-width: 1450px) {
  .game-card-container {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
  }
}

.card-component {
  cursor: pointer;
}

@media only screen and (max-width: 767px) {
  .card-component:not(:first-child) {
    margin-top: 3rem;
  }
}

@media only screen and (max-width: 767px) and (min-width: 500px) {
  .card-component:not(:first-child) {
    margin-top: unset;
  }
}

.card-component .card {
  border-radius: 5%;
  margin-bottom: 1rem;
  -webkit-box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2);
  overflow: hidden;
  -webkit-transform: perspective(50px) translateZ(0);
          transform: perspective(50px) translateZ(0);
  -webkit-transition: -webkit-transform 0.5s linear;
  transition: -webkit-transform 0.5s linear;
  transition: transform 0.5s linear;
  transition: transform 0.5s linear, -webkit-transform 0.5s linear;
}

.card-component .card:hover {
  -webkit-box-shadow: 5px 7px 15px 0 rgba(0, 0, 0, 0.2);
          box-shadow: 5px 7px 15px 0 rgba(0, 0, 0, 0.2);
  -webkit-transform: perspective(50px) translateZ(2px);
          transform: perspective(50px) translateZ(2px);
}

@media only screen and (max-width: 767px) {
  .card-component .card {
    width: 220px;
    height: 330px;
  }
}

@media only screen and (min-width: 768px) {
  .card-component .card {
    width: 320px;
    height: 480px;
  }
}

.card-component .card img {
  max-width: 100%;
  height: auto;
}

.card-component .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 98%;
  margin: 0 auto;
}

@media only screen and (max-width: 767px) {
  .card-component .text .title {
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 767px) {
  .card-component .text {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    height: 65px;
  }
}

/* Small Card Categories */
.small-categories {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  padding: 0 3rem;
  margin-bottom: 3.5rem;
}

@media only screen and (max-width: 767px) {
  .small-categories {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    grid-row-gap: 2.5rem;
    padding: 0;
  }
}

@media only screen and (min-width: 1024px) {
  .small-categories {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (min-width: 1450px) {
  .small-categories {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 1rem;
  }
}

.small-categories article {
  background-color: #f5f1f1;
  width: 450px;
  border-radius: 10px;
  min-height: 500px;
  padding: 1rem 0;
}

@media only screen and (max-width: 767px) {
  .small-categories article {
    width: 320px;
  }
}

@media only screen and (min-width: 1024px) {
  .small-categories article {
    width: 450px;
  }
}

.small-categories article .article-title {
  font-size: 1.75rem;
  margin-bottom: 1rem;
  padding-left: 1.5rem;
}

.small-categories article .small-card {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  padding: 1rem 1.5rem;
}

.small-categories article .small-card:hover {
  background-color: #fb3c4c;
}

.small-categories article .small-card img {
  width: 60px;
  height: 80px;
  margin-right: 1rem;
}

.small-categories article .small-card-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.small-categories article .small-card-text .small-card-title {
  font-size: 1.5rem;
  font-weight: bold;
}
/*# sourceMappingURL=style.css.map */