@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;700&display=swap');
/* global style */
:root {
  --max-height: 350px;
  --box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2);
  --box-shadow-hover: 5px 7px 15px 0 rgba(0, 0, 0, 0.2);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  gap: calc(100vw / 20);
  font-family: 'Nunito Sans', sans-serif;
  overflow: scroll;
  padding: 2rem 0;
}
/* Cards */
.card {
  border: 1px solid transparent;
  border-radius: 5%;
  width: 400px;
  min-height: 400px;
  box-shadow: var(--box-shadow);
  transition: 1s;
}

.card:hover {
  box-shadow: var(--box-shadow-hover);
}

img {
  width: 100%;
  height: auto;
}

.text, .hidden {
  padding: 10px 25px 10px;
  position: relative;
}

.title {
  font-size: 1.7rem;
}

.drop-down {
  position: absolute;
  top: 15px;
  right: 20px;
  border: transparent;
  background: transparent;
  cursor: pointer;
}
  /* Remove black outline on button click */
button:focus {
  outline: none;
}

.fas {
  transition: 0.5s;
}

.description {
  font-size: 1.1rem;
  color: gray;
}

hr {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 1rem;
  border-color: rgba(255, 255, 255, 0.7)
}
/* Hidden Element */
.hidden {
  line-height: 1.5;
  visibility: hidden;
  opacity: 0;
  max-height: 0;
}

li {
  list-style-position: inside;
}

.action-btn {
  background: #0000ff;
  color: #fff;
  border: transparent;
  border-radius: 5%;
  padding: 10px;
  cursor: pointer;
  display: block;
  width: 100px;
  margin: 10px auto;
  font-family: 'Nunito Sans',sans-serif;
}

.action-btn:hover {
  background: #0000b8;
}

  /* Extending and closing Animation */
.hide {
  animation: hidden 1.3s;
}

@keyframes hidden {
  0% {
    opacity: 1;
    visibility: visible;
    max-height: var(--max-height)
  }

  50% {
    opacity: 0;
    visibility: hidden;
    max-height: var(--max-height)
  }

  100% {
    max-height: 0;
  }
}

.show {
  animation: show 1.3s;
  animation-fill-mode: forwards;
}

@keyframes show {
  0% {
    opacity: 0;
    visibility: hidden;
    max-height: 0;
  }

  50% {
    opacity: 0;
    visibility: hidden;
  }

  100% {
    opacity: 1;
    visibility: visible;
    max-height: var(--max-height)
  }
}
/* Media queries */
@media only screen and (min-width: 850px) {
  body {
    flex-direction: row;
  }
}

