﻿/* Font size */
/*Color*/
/*Genre*/
/*Media queries*/
/* Default navbar height*/
/*Font*/
@import url("https://fonts.googleapis.com/css2?family=Sarabun:wght@400;700&display=swap");
/*mixin*/
/*Global Style*/
* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background-color: #fff;
    font-family: "Sarabun", "Helvetica", sans-serif;
    width: 100vw;
    overflow-x: hidden;
    margin-left: 5px;
    shape-margin: 10px;

}

a {
    text-decoration: none;
    color: black;
}

button {
    all: unset;
    cursor: pointer;
}

li {
    list-style-type: none;
}
.personal-btn {
    border: 2px solid #fb3c4c;
    border-radius: 20px;
    padding: 0.5rem 2rem;
    letter-spacing: 0.5px;
  }
  
  .personal-btn:hover {
    background-color: #fb3c4c;
    color: white;
  }
  
  .personal-btn.cta-btn {
    background-color: #fb3c4c;
    color: white;
  }
  
  .personal-btn.cta-btn:hover {
    background-color: white;
    color: #fb3c4c;
  }
/* Navbar */
nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 70px;
    width: 100vw;
    position: fixed;
    top: 0;
    font-size: 1.25rem;
    z-index: 20;
    background-color: #fff;
    -webkit-box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2);
            box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2);
    overflow: unset;
  }
  
  @media only screen and (max-width: 767px) {
    nav {
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
    }
  }
  
  nav .logo-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    min-width: 250px;
  }
  
  nav .logo-container a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 70px;
    margin-top: 0;
  }
  
  nav .logo-container a .logo {
    height: 100%;
    margin-right: 1rem;
  }
  
  @media only screen and (min-width: 1024px) {
    nav .logo-container a .logo {
      margin-right: 1.5rem;
    }
  }
  
  @media only screen and (max-width: 767px) {
    nav .logo-container {
      padding-left: 0;
    }
  }
  
  @media only screen and (min-width: 768px) {
    nav .logo-container {
      padding-left: 1.5rem;
    }
  }
  
  @media only screen and (min-width: 1024px) {
    nav .logo-container {
      padding-left: 2rem;
    }
  }
  
  @media only screen and (min-width: 1250px) {
    nav .logo-container {
      width: 20%;
    }
  }
  
  nav .nav-menu li:not(:last-child) {
    margin-right: 1.5rem;
  }
  
  @media only screen and (min-width: 768px) {
    nav .nav-menu li:not(:last-child) {
      margin-right: 3.5rem;
    }
  }
  
  @media only screen and (min-width: 1024px) {
    nav .nav-menu li:not(:last-child) {
      margin-right: 4.5rem;
    }
  }
  
  nav .nav-menu li a:hover {
    text-decoration: underline;
  }
  
  @media only screen and (max-width: 767px) {
    nav .nav-menu {
      display: none;
    }
  }
  
  @media only screen and (min-width: 768px) {
    nav .nav-menu {
      width: 60%;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-flex: 1;
          -ms-flex: auto;
              flex: auto;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      justify-content: center;
    }
  }
  
  nav .personal-menu {
    display: none;
    padding-right: 3rem;
  }
  
  @media only screen and (min-width: 1250px) {
    nav .personal-menu {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
    }
  }
  
  nav .personal-menu li:not(:last-child) {
    margin-right: 3rem;
  }
  
  nav .personal-menu li:first-child {
    position: relative;
  }
  
  nav .personal-menu li #hide-on-search-click {
    position: absolute;
    left: -60px;
  }
  
  nav .personal-menu li #search-query-on-desktop {
    opacity: 0;
    position: absolute;
    left: 0;
    font-family: inherit;
    font-size: 1.25rem;
    border: 0;
    border-bottom: 1px solid black;
    background-color: transparent;
    min-width: 250px;
    pointer-events: none;
  }
  
  nav .personal-menu li #search-query-on-desktop:hover, nav .personal-menu li #search-query-on-desktop:focus {
    outline: none;
  }
  
  nav .personal-menu li #search-query-on-desktop::-webkit-input-placeholder {
    opacity: 0.5;
  }
  
  nav .personal-menu li #search-query-on-desktop:-ms-input-placeholder {
    opacity: 0.5;
  }
  
  nav .personal-menu li #search-query-on-desktop::-ms-input-placeholder {
    opacity: 0.5;
  }
  
  nav .personal-menu li #search-query-on-desktop::placeholder {
    opacity: 0.5;
  }
  
  nav .personal-menu li .search-btn {
    text-align: center;
    cursor: pointer;
  }
  
  nav .personal-menu li .search-btn .fa-search {
    margin-left: 0.75rem;
  }
  
  nav .personal-menu li .searchResults-container {
    position: absolute;
    background-color: #f5f1f1;
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-shadow: 0 -2px 8px 0 rgba(0, 0, 0, 0.2);
            box-shadow: 0 -2px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    padding: 1rem;
    min-width: 250px;
  }
  
  @media only screen and (max-width: 767px) {
    nav .personal-menu li .searchResults-container {
      -webkit-transform: translateX(0px) translateY(10px);
              transform: translateX(0px) translateY(10px);
    }
  }
  
  @media only screen and (min-width: 768px) {
    nav .personal-menu li .searchResults-container {
      -webkit-transform: translateX(40px) translateY(10px);
              transform: translateX(40px) translateY(10px);
    }
  }
  
  @media only screen and (min-width: 1250px) {
    nav .personal-menu li .searchResults-container {
      -webkit-transform: translateX(-250px) translateY(40px);
              transform: translateX(-250px) translateY(40px);
    }
  }
  
  nav .personal-menu li .searchResults-container > * {
    white-space: nowrap;
    margin: 0;
  }
  
  nav .personal-menu li .searchResults-container > * a:hover {
    text-decoration: underline;
  }
  
  nav .personal-menu li .searchResults-container::after {
    content: "";
    position: absolute;
    top: 0;
    left: 80%;
    width: 10px;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #f5f1f1;
    -webkit-transform: translateY(calc(-100%));
            transform: translateY(calc(-100%));
    -webkit-box-sizing: inherit;
            box-sizing: inherit;
  }
  
  nav .fa-bars {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    font-size: 2rem;
    margin-right: 1rem;
    cursor: pointer;
  }
  
  @media only screen and (min-width: 768px) {
    nav .fa-bars {
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
    }
  }
  
  @media only screen and (min-width: 1250px) {
    nav .fa-bars {
      display: none;
    }
  }
  
  nav .sub-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    position: absolute;
    top: 70px;
    width: 100vw;
    height: 300px;
    background-color: #f5f1f1;
    padding: 2rem 0;
    -webkit-transform: translateY(-200%);
            transform: translateY(-200%);
    -webkit-transition: all 500ms ease-out;
    transition: all 500ms ease-out;
    opacity: 0;
  }
  
  nav .sub-menu .nav-menu {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1.25fr 1fr;
        grid-template-columns: 1.25fr 1fr;
    -ms-grid-rows: (1fr)[2];
        grid-template-rows: repeat(2, 1fr);
    width: 80%;
    margin: 0 auto;
    -webkit-box-flex: unset;
        -ms-flex: unset;
            flex: unset;
    height: 100px;
  }
  
  nav .sub-menu .nav-menu li {
    margin-right: unset;
  }
  
  nav .sub-menu .nav-menu .fas {
    color: #fb3c4c;
    margin-right: 0.5rem;
  }
  
  @media only screen and (min-width: 768px) {
    nav .sub-menu .nav-menu {
      display: none;
    }
  }
  
  nav .sub-menu .personal-menu {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: (1fr)[2];
        grid-template-rows: repeat(2, 1fr);
    width: 100%;
    margin: 0 auto;
    height: 110px;
    padding: 0;
  }
  
  nav .sub-menu .personal-menu li {
    -ms-grid-column-align: center;
        justify-self: center;
    margin: unset;
  }
  
  nav .sub-menu .personal-menu li:last-child {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / span 2;
  }
  
  nav .sub-menu .personal-menu li:last-child .fa-search {
    font-size: 1.75rem;
    margin-right: 0.5rem;
    cursor: pointer;
  }
  
  nav .sub-menu .personal-menu li:last-child #search-query {
    display: none;
    font-family: inherit;
    font-size: 1.25rem;
    border: 0;
    border-bottom: 1px solid black;
    background-color: transparent;
    min-width: 230px;
  }
  
  nav .sub-menu .personal-menu li:last-child #search-query:hover, nav .sub-menu .personal-menu li:last-child #search-query:focus {
    outline: none;
  }
  
  nav .sub-menu .personal-menu li:last-child #search-query::-webkit-input-placeholder {
    opacity: 0.5;
  }
  
  nav .sub-menu .personal-menu li:last-child #search-query:-ms-input-placeholder {
    opacity: 0.5;
  }
  
  nav .sub-menu .personal-menu li:last-child #search-query::-ms-input-placeholder {
    opacity: 0.5;
  }
  
  nav .sub-menu .personal-menu li:last-child #search-query::placeholder {
    opacity: 0.5;
  }
  
  @media only screen and (min-width: 768px) {
    nav .sub-menu .personal-menu {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: space-evenly;
          -ms-flex-pack: space-evenly;
              justify-content: space-evenly;
      height: auto;
    }
  }
  
  @media only screen and (min-width: 768px) {
    nav .sub-menu {
      height: 60px;
      padding-top: 1rem;
    }
  }
  
  @media only screen and (min-width: 1250px) {
    nav .sub-menu {
      display: none;
    }
  }
/* Footer */
footer {
    background-color: #f5f1f1;
}

    footer .detail-site-map {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        width: 50%;
        -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
        justify-content: space-evenly;
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
        padding-left: 15.5rem;
    }

        footer .detail-site-map h4 {
            font-size: 1.25rem;
            margin-bottom: 1rem;
        }

        footer .detail-site-map a:hover {
            text-decoration: underline;
        }

    footer hr {
        width: 80%;
        margin: 0 auto;
    }

    footer .social-icons-and-copyright {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        padding: 2.5rem 0;
        font-size: 1.25rem;
    }

        footer .social-icons-and-copyright .social-icons-wrapper {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: space-evenly;
            -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
            width: 250px;
            font-size: 1.25em;
        }

/*# sourceMappingURL=style.css.map */
