/* Personal Button */
.personal-btn {
  border: 2px solid $primary-color;
  border-radius: 20px;
  padding: 0.5rem 2rem;
  letter-spacing: 0.5px;
  &:hover {
    background-color: $primary-color;
    color: white;
  }
  &.cta-btn {
    background-color: $primary-color;
    color: white;
    &:hover {
      background-color: white;
      color: $primary-color;
    }
  }
}
