/* Footer */
footer {
  background-color: $bg-color-2;
  .detail-site-map {
    display: flex;
    width: 50%;
    justify-content: space-evenly;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    h4 {
      font-size: $para-font-size;
      margin-bottom: 1rem;
      @include media_for_desktop {
        font-size: 1.5rem;
      }
    }

    a:hover {
      text-decoration: underline;
    }

    @include media_for_mobile {
      padding-left: 2rem;
      width: 100%;
      flex-direction: column;
      gap: 15px;
    }
    @media only screen and (min-width: $mobile) {
      padding-left: 2rem;
      width: 100%;
      flex-direction: row;
    }
    @include media_for_desktop {
      padding-left: 15.5rem;
      width: 80%;
    }
    @include media_for_large_screen {
      width: 70%;
    }
    @include media_for_ultra_large_screen {
      width: 50%;
    }
  }
  hr {
    width: 80%;
    margin: 0 auto;
  }

  .social-icons-and-copyright {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    font-size: $para-font-size;
    @include media_for_mobile {
      flex-direction: column;
      height: 150px;
      padding: 1.5rem 0;
    }
    @media only screen and (min-width: $mobile) {
      flex-direction: column;
      height: 120px;
      padding: 1.5rem 0;
    }
    @include media_for_desktop {
      flex-direction: row;
      height: auto;
      padding: 2.5rem 0;
    }
    .social-icons-wrapper {
      display: flex;
      justify-content: space-evenly;
      width: 250px;
      font-size: 1.25em;
    }
  }
  .copyright-text {
    @include media_for_mobile {
      font-size: 0.95em;
      text-align: center;
    }
  }
}
