@import './global';

.card-component {
  cursor: pointer;
  @include media_for_mobile {
    &:not(:first-child) {
      margin-top: 3rem;
      @media only screen and (min-width: $mobile) {
        margin-top: unset;
      }
    }
  }
  .card {
    border-radius: 5%;
    margin-bottom: 1rem;
    box-shadow: $box-shadow;
    overflow: hidden;
    transform: perspective(50px) translateZ(0);
    transition: transform 0.5s linear;
    &:hover {
      box-shadow: $box-shadow-hover;
      transform: perspective(50px) translateZ(2px);
    }
    @include media_for_mobile {
      @include card_on_mobile;
    }
    @include media_for_tablet {
      @include card_on_desktop;
    }
    // Setting for auto resize when viewing on dif. devices.
    img {
      max-width: 100%;
      height: auto;
    }
  }

  .text {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 98%;
    margin: 0 auto;
    .title {
      @include media_for_mobile {
        font-size: $card-title-mobile;
      }
    }
    @include media_for_mobile {
      flex-direction: column;
      align-items: flex-start;
      height: 65px;
    }
  }
}