@import "./global";
.login-overlay {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.7);
  @include flex();
  z-index: $z-index-login-overlay;
  /* z-index for navbar is 20, for pagination-container in hero section is 5, We need login-overlay to be below navbar and above pagination-container on the stacking context.*/
  display: none; 
}

.modal-container {
  background-color: $bg-color-2;
  border-radius: 15px;
  padding: 3rem 3rem 2rem 3rem;
  position: relative;
  ul {
    display: flex;
    margin-bottom: 1.5rem;
    li {
      font-weight: bold;
      font-size: $para-font-size;
      margin-right: 1.5rem;
      cursor: pointer;
      position: relative;
      &.active {
        &::after {
          content: '';
          width: 100%;
          position: absolute;
          height: 3px;
          background-color: $primary-color;
          bottom: -5px;
          left: 0;
        }
      }
      &.active, &:hover {
        transform: translateY(-5px);
      }
    }
  }
  form {
    display: flex;
    flex-direction: column;
    font-size: $para-font-size;
    input {
      border: 0;
      background: transparent;
      border-bottom: 1px solid black;
      font-size: $para-font-size-mobile;
      font-family: inherit;
      margin-bottom: 1rem;
      outline: none;
      &#password-login, &#password-register {
        margin-bottom: 2rem;
      }
    }
    button {
      text-align: center;
    }
  }
  .exit-modal-btn {
    position: absolute;
    top: 10px;
    right: 15px;
  }
}
