@import "./global";
@import "./navbar";
@import "./footer";
@import "./cta-btn";
@import "./modal";

main {
  margin-top: $navbar-height;
  padding: 3rem 10rem 5rem 10rem;
  text-align: justify;
  @include media_for_mobile {
    padding: 3rem 2rem 5rem 2rem;
  }
}

h1 {
  font-size: $section-title-desktop;
  margin-bottom: 2rem;
}

p:not(:last-child) {
  margin-bottom: 3rem;
}

.founders-container {
  list-style: none;
  display: grid;

  @include media_for_mobile {
    grid-template-columns: 1fr;
  }
  @include media_for_tablet {
    grid-template-columns: 1fr 1fr;
    margin-left: -8rem;
    margin-right: -8rem;
  }
  @include media_for_desktop {
    grid-template-columns: repeat(3, 1fr);
    margin: 0;
  }

  li {
    @include flex();
    flex-direction: column;
    img {
      width: 300px;
      height: 300px;
      border-radius: 50%;
      margin-bottom: 1rem;
      @include media_for_mobile {
        width: 150px;
        height: 150px;
      }
      @media only screen and (min-width: 500px) {
        width: 200px;
        height: 200px;
      }
    }
    h4 {
      font-size: 1.5rem;
    }
    @include media_for_mobile {
      &:not(:last-child) {
        margin-bottom: 2rem;
      }
      &:last-child {
        margin-bottom: -2rem;
      }
    }
  }
}
