@import "./global";
@import "./cta-btn";
@import "./navbar";
@import "./footer";
@import "./modal";

/* Hero */
.hero-container {
  #video {
    width: 100%;
    margin-top: $navbar-height;
    // Important, to make video cover full area.
    object-fit: cover;
    @include media_for_mobile {
      height: auto;
    }
    @include media_for_large_screen {
      height: 800px;
    }
  }
}

/* Main area - General Style*/
main {
  position: relative;
  top: -150px;
  //Eliminate white space left due to moved towards top.
  margin-bottom: -150px;
  @include media_for_mobile {
    top: -50px;
    margin-bottom: -50px;
  }
}

.game-info-container {
  display: grid;
  grid-template-columns: 1fr;

  @include media_for_ultra_large_screen {
    grid-template-columns: 1fr 1200px 1fr;
  }
  .big-title {
    position: relative;
    text-align: right;
    padding-right: 2rem;
    font-size: $section-title-desktop;
    @include media_for_mobile {
      text-align: center;
      width: 100%;
      padding: unset;
      font-size: $section-title-mobile;
      margin-bottom: $small-section-bottom-space-mobile;
    }
    @include media_for_tablet {
      text-align: center;
      margin-bottom: $small-section-bottom-space-mobile;
      padding: unset;
    }
    &::after {
      content: "";
      position: absolute;
      right: 0;
      top: 0;
      height: 100%;
      border: 1px solid rgba(0, 0, 0, 0.3);
      @include media_for_mobile {
        display: none;
      }
      @include media_for_tablet {
        display: none;
      }
      @include media_for_ultra_large_screen {
        display: unset;
      }
    }
  }
  .inside-main-view {
    padding-left: 2rem;
    @include media_for_mobile {
      padding-left: unset;
      width: 100%;
    }
  }
}

hr {
  width: 80%;
  margin: 0 auto;
}

/* Game Header Card*/
.game-header-card {
  background-color: $bg-color-2;
  display: flex;
  min-height: 300px;
  margin: 0 auto 1.75rem;
  padding: 1rem 1.5rem;
  box-shadow: $box-shadow;
  border-radius: 15px;
  @include media_for_mobile {
    flex-direction: column;
    width: 100%;
    height: auto;
    background-color: unset;
    box-shadow: unset;
    padding: 0.5rem;
  }
  @include media_for_tablet {
    width: 100%;
    max-width: 1200px;
    display: grid;
    grid-template-columns: 220px 1fr;
    grid-template-rows: 1fr 0.3fr;
  }
  @include media_for_large_screen {
    display: flex;
  }

  img {
    max-width: 200px;
    @include media_for_mobile {
      width: 160px;
      height: 240px;
      margin: 0 auto;
    }
    @include media_for_tablet {
      grid-row: 1 / span 2;
    }
    @include media_for_large_screen {
      margin-right: 2rem;
    }
  }

  .text-wrapper {
    width: 650px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 2rem;
    @include media_for_mobile {
      width: 100%;
    }
    @include media_for_tablet {
      width: 100%;
    }
    @include media_for_large_screen {
      width: 600px;
    }
    @include media_for_ultra_large_screen {
      width: 650px;
    }
    h1 {
      font-size: 2.5rem;
      margin-bottom: 0.25rem;
      @include media_for_mobile {
        font-size: $game-header-card-title-mobile;
      }
    }
    .rating,
    .short-desc {
      font-size: $para-font-size;
      margin-bottom: 0.75rem;
      .num-users-rating {
        margin-left: 0.75rem;
      }
    }
  }

  .button-wrapper {
    display: flex;
    justify-content: space-evenly;
    @include media_for_mobile {
      align-content: space-between;
      flex-direction: column;
      height: 180px;
    }
    @include media_for_tablet {
      flex-direction: row;
      justify-content: space-evenly;
    }
    @include media_for_large_screen {
      flex-direction: column;
    }
    button {
      font-size: 1.5rem;
      text-align: center;
      padding-top: 1rem;
      padding-bottom: 1rem;
      @include media_for_tablet {
        padding-left: 1rem;
        padding-right: 1rem;
      }
      @include media_for_large_screen {
        padding-left: 2rem;
        padding-right: 2rem;
      }
    }
  }
}

/*About*/
.about {
  .inside-main-view {
    article {
      margin-bottom: 3.5rem;
      @include media_for_mobile {
        margin-bottom: $small-section-bottom-space-mobile;
      }
    }
    .title {
      font-size: 1.75rem;
      margin-bottom: 1rem;
    }
    p {
      font-size: $para-font-size;
      text-align: justify;
    }
    .small-info {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 10px;
      @include media_for_mobile {
        grid-template-columns: 1fr;
      }
      h4 {
        font-size: $para-font-size;
      }
    }
    .screenshot {
      .screenshot-wrapper {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 20px;
        img {
          width: 525px;
          height: 295px;
          cursor: pointer;
          @include media_for_mobile {
            max-width: 100%;
            height: auto;
          }
        }
      }
    }
  }
}

/* System Requirements */
.sys {
  .platform-list-wrapper {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 2rem;
    .fab {
      font-size: 2.5rem;
      cursor: pointer;
      transform: perspective(50px) translateZ(0);
      transition: transform 0.5s linear;
      &:hover {
        transform: perspective(50px) translateZ(10px);
      }
      &.active {
        transform: perspective(50px) translateZ(10px);
      }
    }
  }
  .system-requirement-list-wrapper {
    display: flex;
    justify-content: space-between;
    @include media_for_mobile {
      flex-direction: column;
    }
    @include media_for_tablet {
      flex-direction: column;
    }
    @include media_for_large_screen {
      flex-direction: row;
    }
    h3 {
      font-size: 1.5rem;
      margin-bottom: 1rem;
    }
    p {
      line-height: 25px;
      span {
        font-weight: bold;
        margin-right: 0.5rem;
      }
    }
    hr {
      width: 30%;
      @include media_for_large_screen {
        display: none;
      }
    }
    & > * {
      width: 550px;
      @include media_for_mobile {
        margin-bottom: $small-section-bottom-space-mobile;
        overflow: hidden;
        width: 100%;
      }
      @include media_for_tablet {
        margin-bottom: $small-section-bottom-space-mobile;
      }
    }
  }
}

/*User rating*/
.user-rating {
  .fas,
  .number-rating {
    margin-right: 0.5rem;
  }
  .number-rating {
    font-size: 1.75rem;
  }
}

/* Similar Games */
.game-card-container {
  display: grid;
  grid-template-columns: repeat(4, 320px);
  gap: 50px;
  @include media_for_mobile {
    grid-template-columns: 1fr;
  }
  @media only screen and (min-width: 530px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @include media_for_large_screen {
    grid-template-columns: repeat(3, 1fr);
  }
  form {
    justify-self: center;
  }
  .card-component {
    cursor: pointer;
    .card {
      width: 320px;
      height: 480px;
      border-radius: 5%;
      margin-bottom: 1rem;
      box-shadow: $box-shadow;
      overflow: hidden;
      transform: perspective(50px) translateZ(0);
      transition: transform 0.5s linear;
      &:hover {
        box-shadow: $box-shadow-hover;
        transform: perspective(50px) translateZ(2px);
      }
      img {
        max-width: 100%;
        height: auto;
      }
      @include media_for_mobile {
        @include card_on_mobile;
      }
      @include media_for_tablet {
        @include card_on_desktop;
      }
    }

    .text {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 98%;
      margin: 0 auto;
      .title {
        @include media_for_mobile {
          font-size: $card-title-mobile;
        }
      }
      @include media_for_mobile {
        flex-direction: column;
        align-items: flex-start;
        height: 65px;
      }
    }
  }
}

/* Screenshot Overlay */
.overlay {
  @include flex();
  height: 100%;
  width: 100%;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.7);
  //NOTE: z-index should be larger and siblings elements in body;
  z-index: $z-index-overlay-screenshot;
  left: 0;
  top: 0;
}

.ref {
  text-decoration: underline;
  color: blue;
}