@import "./global";
@import "./navbar";
@import "./footer";
@import "./cta-btn";
@import "./mainCard";
@import "./modal";

.panel {
  padding: 0 18px;
  background-color: white;
  display: none;
  overflow: hidden;
  &:first-child {
    margin-top: $navbar-height;
  }
}

ol,
ul {
  list-style: none;
}

h5 {
  font-weight: bold;
  line-height: 1.7em;
  font-size: $para-font-size;
}

h6 {
  color: $primary-color;
  font-size: $para-font-size-mobile;
}

.product-card {
  @include flex();
  flex-direction: column;
  padding: 2%;
  box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.25);
}

.products {
  display: grid;
  @media only screen and (min-width: 540px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @include media_for_desktop {
    grid-template-columns: repeat(3, 1fr);
  }
  @include media_for_large_screen {
    grid-template-columns: repeat(4, 1fr);
  }
}

.product-filter {
  display: flex;
  padding: 30px 0;
}

.sort {
  display: flex;
  align-self: auto;
}

.collection-sort {
  display: flex;
  flex-direction: column;
  &:first-child {
    padding-right: 20px;
  }
}

.product-image {
  img {
    width: 202.68px;
    height: 304.033px;
  }
}
.product-info {
  margin-top: auto;
  padding-top: 20px;
  text-align: center;
}

.accordion {
  background-color: #eee;
  color: black;
  cursor: pointer;
  padding: 1rem;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
  &:hover {
    background-color: #ccc;
  }
  &.active {
    background-color: #ccc;
  }
}

#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: black;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 10px;
  font-size: 18px;
  &:hover {
    background-color: #555;
  }
}

.footer {
  width: 100vw;
}

@media (max-width: 920px) {
  .product-card {
    flex: 1 21%;
  }
  .products {
    .product-card {
      &:first-child {
        flex: 2 46%;
      }
      &:nth-child(2) {
        flex: 2 46%;
      }
    }
  }
}

@media (max-width: 600px) {
  .product-card {
    flex: 1 46%;
  }
}

@media (max-width: 480px) {
  h1 {
    margin-bottom: 20px;
  }
  .product-filter {
    flex-direction: column;
  }
  .sort {
    align-self: flex-start;
  }
}
