// Always import Global first as other scss files uses its data.
@import "./global";
@import "./navbar";
@import "./footer";
@import "./cta-btn";
@import "./mainCard";
@import "./modal";

/* Hero section */
.hero-container {
  margin-top: $navbar-height;
  width: 100%;
  position: relative;
  overflow: hidden;
  @include media_for_desktop() {
    height: 700px;
  }

  .pagination-container {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: $z-index-pagination;
    color: white;

    .control-btn,
    .page-wrapper {
      margin-right: 2rem;
      background-color: rgba(0, 0, 0, 0.5);
      padding: 0.5rem;
      position: relative;
      .page-btn {
        &:not(:last-child) {
          margin-right: 1.5rem;
        }
        //When on slide
        &.active {
          .fas {
            display: inline-block;
          }
          .far {
            display: none;
          }
        }
        //When not on slide
        .fas {
          display: none;
        }
        .far {
          display: inline-block;
        }
      }
    }
  }
  .slider-container {
    height: 100%;
    display: flex;
  }
}
//Single slide
.slide {
  position: absolute;
  z-index: 1;
  .hero-text {
    position: absolute;
    text-align: center;
    img {
      width: 500px;
      margin-bottom: 1rem;
    }
    .hero-desc {
      font-size: 2rem;
      margin-top: 1rem;
    }
    @include media_for_desktop() {
      &#slide-1 {
        top: 250px;
        left: 100px;
        .hero-desc {
          margin-bottom: 1rem;
        }
      }

      &#slide-2 {
        top: 200px;
        right: 150px;
        color: white;
        text-align: center;
        width: 600px;
        .hero-title {
          font-size: 3.5rem;
          margin-bottom: 1rem;
        }
        .hero-desc {
          margin-bottom: 1rem;
        }
      }

      &#slide-3 {
        color: white;
        top: 150px;
        left: 150px;
        img {
          width: 550px;
        }
      }
    }
    button {
      @include media_for_tablet() {
        font-size: 1.5rem;
      }
    }
  }
}

/* Feature Sale & Recently Updated */
.section-title {
  font-size: $section-title-desktop;
  margin-bottom: 1.5rem;
  @include media_for_mobile {
    font-size: $section-title-mobile;
  }
}

.game-card-container {
  display: grid;
  justify-items: center;
  @include media_for_mobile {
    grid-template-columns: 1fr;
  }
  @media only screen and (min-width: $mobile) {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    row-gap: 2.5rem;
  }
  @include media_for_large_screen {
    grid-template-columns: repeat(3, 1fr);
  }
  @include media_for_ultra_large_screen {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
  }
}

/* Small Card Categories */
.small-categories {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  padding: 0 3rem;
  margin-bottom: 3.5rem;
  @include media_for_mobile {
    grid-template-columns: 1fr;
    grid-row-gap: 2.5rem;
    padding: 0;
  }
  @include media_for_desktop {
    grid-template-columns: repeat(2, 1fr);
  }
  @include media_for_ultra_large_screen {
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 1rem;
  }

  article {
    background-color: #f5f1f1;
    width: 450px;
    border-radius: 10px;
    min-height: 500px;
    padding: 1rem 0;
    @include media_for_mobile {
      width: 320px;
    }
    @include media_for_desktop {
      width: 450px;
    }

    .article-title {
      font-size: 1.75rem;
      margin-bottom: 1rem;
      padding-left: 1.5rem;
    }
    .small-card {
      width: 100%;
      cursor: pointer;
      padding: 1rem 1.5rem;
      a {
        display: flex;
      }
      &:hover {
        background-color: $primary-color;
      }
      img {
        width: 60px;
        height: 80px;
        margin-right: 1rem;
      }
      &-text {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        .small-card-title {
          font-size: 1.5rem;
          font-weight: bold;
        }
      }
    }
  }
}
