@import "./global";
@import "./navbar";
@import "./footer";
@import "./cta-btn";
@import "./modal";

main {
  margin-top: $navbar-height;
}
.dashboard-content {
  width: calc(100% / 2);
  padding: 2rem 0;
  input,
  textarea,
  select {
    font-family: inherit;
    font-size: $para-font-size;
    padding: 0.5rem;
  }

  textarea {
    margin-bottom: 1rem;
  }

  #create_ticket {
    font-size: $para-font-size;
    float: right;
  }
}

.support-page {
  width: 100%;
}

.form-control {
  width: 100%;
  margin-top: 1.2rem;
}

.support_message {
  height: calc(3.5em * 2);
  font-family: "Sarabun", "Helvetica", sans-serif;
}
