﻿/* to apply the same font and size to all group and colem we used same for all content*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    font-family: Sarabun, Helvetica, sans-serif ;
    vertical-align: baseline;
}
/*  to desplay on differents broswers  smoothly */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

    blockquote:before, blockquote:after,
    q:before, q:after {
       
        content: none;
    }



ins {
    text-decoration: none;
}

del {
    text-decoration: line-through;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}






body {
    margin: 0 auto;
    width: 90%;
    /* max-width: 1240px; */
    font-family: Sarabun, Helvetica, sans-serif;
    background-color: #f6f6f6;
}

/* font sizes and shape adjustment */

h1 {
    font-size: 28px;
    font-weight: 300;
    flex: 1;
}

h5 {
    font-weight: 500;
    line-height: 1.7em;
}

h6 {
    color: #666;
    font-size: 14px;
}

/* Games Layout */
.products{
    margin-top:100px;
}

.product-filter {
    display: flex;
    padding: 30px 0;
}

.sort {

    display: flex;
    align-self: auto;
}

.collection-sort {
    display: flex;
    flex-direction: column;
}
/* used at varient to apply it as sorted */
    .collection-sort:first-child {
        padding-right: 20px;
    }

label {
    color: #666;
    font-size: 10px;
    font-weight: 500;
    line-height: 2em;
    text-transform: uppercase;
}

.products {
    display: flex;
    flex-wrap: wrap;
}

.product-card {
    display: flex;
    flex-direction: column;
    padding: 2%;
    flex:  16%;
    background-color: #FFF;
    box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.25);
}


.product-image img {
    width: 202.68px;
    height: 304.033px;
}

.product-info {
    margin-top: auto;
    padding-top: 20px;
    text-align: center;
}

@media ( max-width: 920px ) {

    .product-card {
        flex: 1 21%;
    }

    .products .product-card:first-child,
    .products .product-card:nth-child(2) {
        flex: 2 46%;
    }
}

@media ( max-width: 600px ) {

    .product-card {
        flex: 1 46%;
    }
}

@media ( max-width: 480px ) {

    h1 {
        margin-bottom: 20px;
    }

    .product-filter {
        flex-direction: column;
    }

    .sort {
        align-self: flex-start;
    }
}

/*  button toe close and open panel funicality  */
.accordion {
    background-color: #eee;
    color:black;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
  }
  
  /* Add a background color to the button  as its shows the interaction ) */
  .active, .accordion:hover {
    background-color: #ccc;
  }
  
  /* Style the accordion panel. Note: hidden by default */
  .panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
  }

  #myBtn {
    display: none; 
    position: fixed; /* Fixed position */
    bottom: 20px; /* Placing  the button atthe page to bottom */
    right: 30px; /* Place the button location  from the right */
    z-index: 99; /*  overlap clearnace  */
    border: none; /* Removed the borders */
    outline: none; /* Remove outline  appreance */
    background-color:black; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
  }
  
  #myBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
  }

.footer{
    width:100vw;
}

