﻿
.flip-card {
    background-color: transparent;
    width: 500px;
    height: 510px;
    border: 1px solid #613df2;
    perspective: 1000px; 
}


.flip-card-inner {
    position:relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.7s;
    transform-style: preserve-3d;
}


.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}


.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; 
    backface-visibility: hidden;
}


.flip-card-front {
    background-color: #bbb;
    color: black;
}



.flip-card-back {
  background-color: gold;
  color: black;
  transform: rotateY(180deg);
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
   
    text-align: center;
}

.title {
    color: grey;
    font-size: 18px;
}

button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

a {
    text-decoration: none;
    font-size: 22px;
    color: black;
}

    button:hover, a:hover {
        opacity: 0.7;
    }