@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

/* Global */
* {
    scroll-behavior: smooth;
}
body {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hero {
    background: url(images/designer.jpg) 50%;
    background-size: cover;
    width: 100%;
    height: 300px;
}

a {
    text-decoration: none;
}

article {
    padding-left: 4.5rem;
    padding-right: 4.5rem;
}

main section {
    margin-bottom: 2rem;
}

p {
    text-align: justify;
}

p, li {
    line-height: 1.5;
}

aside {
    display: none;
}

aside li {
    list-style: none;
}

/* Title */
h1 {
    font-size: 2.5rem;
    margin-bottom: 0;
}

.author {
    font-style: italic;
    color: #e0742c;
}

/* Source */
.source {
    font-weight: 900;
    text-align: right;
}

/* Media Queries */
@media only screen and (min-width: 650px) {
    article {
        padding-left: 6.5rem;
        padding-right: 6.5rem;
    }
}

@media only screen and (min-width: 850px) {
    .hero {
        height: 500px;
    }

    h1 {
        font-size: 3.5rem;
    }
    
    main {
        display: flex;
        flex-direction: row-reverse;
    }

    article {
        width: 50%;
        font-size: 1.25rem;
    }

    aside {
        display: block;
        width: 30%;
        text-align: left;
        font-size: 1.25rem;
    }

    aside ul {
        padding-left: 0;
    }
}